h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
img{
    width: 350px;
    height: 300px;
    border-radius: 10px;

}
body{
    margin: 30px;
    background-color: antiquewhite;
}